@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Montserrat', sans-serif;
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Đối với WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Độ rộng của scrollbar */
  height: 12px; /* Chiều cao của scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu của thanh cuộn */
  border-radius: 6px; /* Bo góc của thanh cuộn */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu của nền scrollbar */
  border-radius: 6px;
}
